
body {
    font-family:'Fredoka', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    text-align: center;

header {
    background-color: #333;
    color: #133156;
    padding: 10px;
    text-align: center;
    background-image: url("painting bg.jpg");
    width: 100%;
}

main {
    padding: 20px;
    color: #191542;
}

footer {
    background-color: #f0f0f0;
    color: #191542;
    padding: 1px;
    text-align: center;
    position:relative;
    bottom: 0;
    width: 100%;
}

.link-container {
    margin-top: 20px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.link {
    margin: 10px;
}

.link a {
    display: block;
    padding: 10px;
    background-color: #a8cadd;
    text-decoration: none;
    color: #130a31;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.link a:hover {
    background-color: #132553;
    color: #ddd;
}

}